* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

header {
    color: white;
    font-style: sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, blue, rgb(14, 4, 79));
    padding: 20px 0;
    margin-top: 3px;
}

main {
    display: flex;
}

aside {
    padding: 10px 0;
    margin-right: 15px;
    color: rgb(17, 15, 30);
}

button {
    display: block;
    margin: 10px 0;

}

.weather {
    margin-top: 10px;
}

#city {
    padding-bottom: 10px;
    font-weight: 800;
}